<?xml version="1.0"?>  
<config>  
	<modules>  
		<Bumble_Filter>  
			<version>1.2.0</version>  
		</Bumble_Filter>  
	</modules>  
	<frontend>
		<translate>
			<modules>
				<Bumble_Filter>
					<files>
						<default>Bumble_Filter.csv</default>
					</files>
				</Bumble_Filter>
			</modules>
		</translate>
		 <routers>
            <filter>
                <use>standard</use>
                <args>
                    <module>Bumble_Filter</module>
                    <frontName>bumblefilter</frontName>
                </args>
            </filter>
        </routers>
		<layout>
			<updates>
				<filter module="bumble_filter">
					<file>bumble_filter.xml</file>
				</filter>
			</updates>
		</layout>
		<events>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<bumble_filter_observer>
						<type>singleton</type>
						<class>Bumble_Filter_Model_Observer</class>
						<method>beforeRender</method>
					</bumble_filter_observer>
				</observers>
			</controller_action_layout_generate_blocks_after>
	 
        </events>
	</frontend>	
	<global>  		     
		<blocks>
            <bumble_filter>
                <class>Bumble_Filter_Block</class>
            </bumble_filter>
        </blocks>
        <models>
            <bumble_filter>
                <class>Bumble_Filter_Model</class>
                <resourceModel>bumble_filter_mysql4</resourceModel>
            </bumble_filter>
            <bumble_filter_mysql4>
                <class>Bumble_Filter_Model_Mysql4</class>
                <entities>
                	<group>
                        <table>bumble_filter_group</table>
                    </group>
                    <group_store>
                        <table>bumble_filter_group_store</table>
                    </group_store>
					<filter>
                        <table>bumble_filter_filter</table>
                    </filter>
					<filter_store>
                        <table>bumble_filter_filter_store</table>
                    </filter_store>
                </entities>
            </bumble_filter_mysql4>
        </models>
        <helpers>
            <bumble_filter>
                <class>Bumble_Filter_Helper</class>
            </bumble_filter>
        </helpers>
        <resources>
            <bumble_filter_setup>
                <setup>
                    <module>Bumble_Filter</module>
				
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bumble_filter_setup>
            <bumble_filter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bumble_filter_write>
            <bumble_filter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bumble_filter_read>
        </resources>
		<events>
			 
	 
			<controller_front_init_routers>
				<observers>
					<bumble_filter_observer>
						<type>singleton</type>
						<class>Bumble_Filter_Model_Observer</class>
						<method>initControllerRouters</method>
					</bumble_filter_observer>
				</observers>
			</controller_front_init_routers>
        </events>
	</global>  
	<admin>
        <routers>
            <filter>
                <use>admin</use>
                <args>
                    <module>Bumble_Filter</module>
                    <frontName>filter</frontName>
                </args>
            </filter>
             <adminhtml>
                <args>
                    <modules>
                        <Bumble_Filter after="Mage_Adminhtml">Bumble_Filter_Adminhtml</Bumble_Filter>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<adminhtml>
        <translate>
			<modules>
				<Bumble_Filter>
					<files>
						<default>Bumble_Filter.csv</default>
					</files>
				</Bumble_Filter>
			</modules>
		</translate>
    </adminhtml>	
		
	<default>
        <bumble_filter>
            <general_setting>
                <show>1</show>    
                <theme>default</theme>
                <listing_layout>grid</listing_layout>
                <list_limit>10</list_limit>
                <enable_jquery>0</enable_jquery>
                <title>Bumble Filter</title>  
                <theme>default</theme>
                <extension>html</extension>
                <filter_imagesize>Auto</filter_imagesize>
                <prod_imagesize>Auto</prod_imagesize>
                <enable_icon>1</enable_icon>
			</general_setting>
			<module_setting>
                <filter_group>0</filter_group>
                <enable_filternavmodule>1</enable_filternavmodule>
                
                <filternav_title>Filter Categories</filternav_title>
                
                
            </module_setting>
			<carousel_setting>
				<enable_owl_carousel>0</enable_owl_carousel>
				<showarrow>1</showarrow>
                <slide_col>3</slide_col>
				<interval>3000</interval>
				<show_dots>1</show_dots>
				<slide_by>1</slide_by>
				<autoplay>1</autoplay>

                <showarrow_resp_1024>1</showarrow_resp_1024>
                <slide_col_resp_1024>3</slide_col_resp_1024>
                <interval_resp_1024>3000</interval_resp_1024>
                <show_dots_resp_1024>1</show_dots_resp_1024>
                <slide_by_resp_1024>1</slide_by_resp_1024>
                <autoplay_resp_1024>1</autoplay_resp_1024>

                <showarrow_resp_600>1</showarrow_resp_600>
                <slide_col_resp_600>3</slide_col_resp_600>
                <interval_resp_600>3000</interval_resp_600>
                <show_dots_resp_600>1</show_dots_resp_600>
                <slide_by_resp_600>1</slide_by_resp_600>
                <autoplay_resp_600>1</autoplay_resp_600>

                <showarrow_resp_480>1</showarrow_resp_480>
                <slide_col_resp_480>1</slide_col_resp_480>
                <interval_resp_480>3000</interval_resp_480>
                <show_dots_resp_480>0</show_dots_resp_480>
                <slide_by_resp_480>1</slide_by_resp_480>
                <autoplay_resp_480>1</autoplay_resp_480>
			</carousel_setting>
        </bumble_filter>
    </default>
</config>  